body {
    background: linear-gradient(to bottom right, #4d79ff, #ffffff);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: relative;
}


.logo {
    position: absolute;
    top: 0;
    width: 25%;
    height: auto;
}

.katze {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15%;
    height: auto;
    cursor: pointer; /* Ändere hier: Cursor bei der Katze */
}

/* CSS für die Suchergebnisse */
#suchergebnis-container {
    margin-top: 20px; /* Fügt Abstand zwischen dem Suchfeld und den Suchergebnissen hinzu */
}

#suchergebnis-container div {
    background-color: #FFF2CF; /* Hintergrundfarbe für jedes Suchergebnis */
    border-radius: 10px; /* Abgerundete Ecken */
    padding: 10px 20px; /* Innenabstand für jedes Suchergebnis */
    margin-bottom: 10px; /* Abstand zwischen den Suchergebnissen */
    font-size: 1.2em; /* Schriftgröße für die Suchergebnisse */
    cursor: pointer; /* Zeige einen Zeiger-Cursor beim Überfahren der Suchergebnisse */
}

#suchergebnis-container div:hover {
    background-color: #c6b891; /* Hintergrundfarbe ändern, wenn das Suchergebnis überfahren wird */
    color: #ffffff; /* Textfarbe ändern, wenn das Suchergebnis überfahren wird */
}



/* Ändere die Größe und den Abstand der Buttons */
button {
    background-color: #4d79ff;
    border-radius: 20px; /* Macht die Buttons quadratisch */
    border-style: none;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 10px; /* Fügt Abstand zwischen den Buttons hinzu */
    margin-left: 40px; /* Fügt Abstand zwischen den Buttons hinzu */
    padding-top: 20px; /* Ändere die Größe der Buttons */
    padding-bottom: 20px; /* Ändere die Größe der Buttons */
    padding-left: 40px; /* Ändere die Größe der Buttons */
    padding-right: 40px; /* Ändere die Größe der Buttons */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    width: auto;
    height: auto;
}

button:hover{
    background-color:#ffffff; 
    color:#4d79ff; 
}

.button-suchen {
    display: flex;
    align-items: baseline; /* Ändern Sie die Ausrichtung auf "baseline" */
    margin-top: 400px;
    text-decoration: none;
}

.button-suchen input[type="text"] {
    flex: 1;
    padding: 30px 100px 30px 30px ;
    border: none;
    border-radius: 20px 20px 20px 20px;
    font-size: 1.5em;
}

.button-suchen .search-button {
    background-color: #4d79ff;
    border: none;
    border-radius: 20px 20px 20px 20px;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    padding: 30px 20px; /* Ändern Sie die Größe des Buttons */
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}


.button-suchen .search-button:hover {
    background-color: #ffffff;
    color: #4d79ff;
}

.button-bestenliste{
    margin-top: 10px;
    color: white;
    text-decoration: none;
    right: 40px;
}

.button-bestenliste a{
    margin-top: 10px;
    text-decoration: none;
    color: #ffffff;
    right: 40px;
}

.button-bestenliste:hover a{
    margin-top: 10px;
    text-decoration: none;
    color: #4d79ff;
    right: 40px;
}


.button-bestenliste button:first-child{
    margin-right:auto;
}

.popup {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* CSS für das Passwort-Eingabefeld */
#password-input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* CSS für den "Jetzt Spielen"-Button */
.popup button {
    background-color: #4d79ff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

/* CSS für die Fehlermeldung */
.error-message {
    color: red;
    display: none;
}


@media (max-width: 900px) {
    .button-container {
        flex-direction: column;
    }

    .logo {
        max-width: none; /* Das Logo behält seine ursprüngliche Größe bei */
        width: auto;
    }
}
