body {
    background: linear-gradient(to bottom right, #4d79ff, #ffffff);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
}


.logo {
    position: absolute;
    display: flex;
    top: 0;
    right: 31%;
    width:34%;
    height: auto;
}

.katze {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15%;
    height: auto;
    cursor: pointer; /* Ändere hier: Cursor bei der Katze */
}



/* Ändere die Größe und den Abstand der Buttons */
button {
    background-color: #4d79ff;
    border-radius: 20px; /* Macht die Buttons quadratisch */
    border-style: none;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 10px; /* Fügt Abstand zwischen den Buttons hinzu */
    margin-left: 40px; /* Fügt Abstand zwischen den Buttons hinzu */
    padding-top: 20px; /* Ändere die Größe der Buttons */
    padding-bottom: 20px; /* Ändere die Größe der Buttons */
    padding-left: 40px; /* Ändere die Größe der Buttons */
    padding-right: 40px; /* Ändere die Größe der Buttons */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    width: auto;
    height: auto;
}

.button-bestenliste{
    position: absolute;
    bottom: 20px; /* Abstand zum unteren Rand des Containers */
    right: 200px; /* Abstand zum linken Rand des Containers */
    color: white;
    text-decoration: none;
}


button:hover{
    background-color:#ffffff; 
    color:#4d79ff; 
}

.button-suchen {
    display: flex;
    align-items: baseline; /* Ändern Sie die Ausrichtung auf "baseline" */
    margin-top: 400px;
    text-decoration: none;
}

.button-suchen input[type="text"] {
    flex: 1;
    padding: 30px 100px 30px 30px ;
    border: none;
    border-radius: 20px 20px 20px 20px;
    font-size: 1.5em;
}

.button-suchen .search-button {
    background-color: #4d79ff;
    border: none;
    border-radius: 20px 20px 20px 20px;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    padding: 30px 20px; /* Ändern Sie die Größe des Buttons */
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}


.button-suchen .search-button:hover {
    background-color: #ffffff;
    color: #4d79ff;
}

.button-bestenliste{
    margin-top: 10px;
    color: white;
    text-decoration: none;
}

.button-bestenliste a{
    margin-top: 10px;
    text-decoration: none;
    color: #ffffff;
}

.button-bestenliste:hover a{
    margin-top: 10px;
    text-decoration: none;
    color: #4d79ff;
}

.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4d79ff;
    padding: 50px 100px 50px 100px;
    border-radius: 30px;
    color: white;
    border-color: #c6b891;
}

.popup input[type="password"] {
    padding: 10px 30px 10px 30px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

.popup button {
    background-color: #ffffff;
    color: #4d79ff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.popup.error {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ff4d4d; /* Rote Hintergrundfarbe für Fehlermeldung */
    color: #ffffff; /* Weiße Textfarbe für Fehlermeldung */
    padding: 30px;
}

.popup.error p {
    margin-bottom: 20px;
}



/* CSS für die Suchergebnisse */
#suchergebnis-container {
    margin-top: 30px; /* Fügt Abstand zwischen dem Suchfeld und den Suchergebnissen hinzu */
}

#suchergebnis-container div {
    background-color: #FFF2CF; /* Hintergrundfarbe für jedes Suchergebnis */
    border-radius: 10px; /* Abgerundete Ecken */
    padding: 10px 20px; /* Innenabstand für jedes Suchergebnis */
    margin-bottom: 10px; /* Abstand zwischen den Suchergebnissen */
    font-size: 1.2em; /* Schriftgröße für die Suchergebnisse */
    cursor: pointer; /* Zeige einen Zeiger-Cursor beim Überfahren der Suchergebnisse */
    text-decoration: none;
}



#suchergebnis-container div:hover {
    background-color: #c6b891; /* Hintergrundfarbe ändern, wenn das Suchergebnis überfahren wird */
    color: #ffffff; /* Textfarbe ändern, wenn das Suchergebnis überfahren wird */
    text-decoration: none;
}

/* CSS für den "Jetzt Spielen"-Button */
.popup button {
    background-color: #4d79ff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

/* CSS für die Fehlermeldung */
.error-message {
    color: red;
    display: none;
}


@media (max-width: 900px) {
    .logo {
        max-width: 100%; /* Das Logo behält seine ursprüngliche Größe bei */
    }


    .button-bestenliste {
        position: relative; /* Zurücksetzen der Positionseigenschaft */
        bottom: 0; /* Zurücksetzen der Positionseigenschaft */
        right: auto; /* Zurücksetzen der Positionseigenschaft */
    }

    .katze {
        max-width: 100%;
        position: absolute; 
    bottom: 0;
    left: 0;
}
}

    /* Weitere Anpassungen für kleinere Bildschirme */
  
  @media only screen and (max-width: 480px) {
  
    .button-suchen {
        max-width: 200%; /* Das Logo behält seine ursprüngliche Größe bei */
    }
    #suchfeld {
        max-width: 150px;
    }

    .katze {
        max-width: 100%;
        position: relative; 
    bottom: 0;
    left: 0;
      }
    /* Stile für noch kleinere Bildschirme */
    /* Hier können Sie spezifische Anpassungen vornehmen */
  }

  @media only screen and (max-width: 360px) {
 
    #suchbutton.search-button
    {
        max-width: 40px;
        position: sticky;
    }

    .katze {
        max-width: 100%;
        position: absolute; 
    bottom: 0;
    left: 0;
      }
    /* Stile für noch kleinere Bildschirme */
    /* Hier können Sie spezifische Anpassungen vornehmen */
  }

