body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom right, #4d79ff, #ffffff);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#game-title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
}

.logo {
    position: absolute; 
    left: 30px;
    top: 0;
    width: 400px;
    height: auto;
}

.katze {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15%;
    height: auto;
    cursor: pointer; /* Ändere hier: Cursor bei der Katze */
}

#game-title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
}

#game-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    max-width: 800px;
}

.card {
    width: 100%;
    padding-top: 100%;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
}

#timer {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

/* Popup-Styling */
.message-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4d79ff; /* Blauer Hintergrund */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Schatten für das Popup */
    z-index: 9999; /* Stellen Sie sicher, dass das Popup über allem liegt */
}

.message-content {
    font-size: 24px;
}

/* CSS für das Pop-up-Fenster */
.message-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(20, 24, 255, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 9999;
}

.message-content {
    font-size: 24px;
    font-weight: bold;
}

/* Modal Box CSS */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


  /* Modal Box CSS */
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* Modal Content */
.modal-content {
    background-color: #4d79ff;
    padding: 60px;
    border-radius: 60px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 100px auto;
    border-color: none;
}

#satz {
    padding-bottom: 50px;
    font-size: 25px;
}

#jabutton {
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
    color: black;
    background-color: white;
    font-size: 25px;
}

#jabutton:hover {
    margin-right: 20px;
    padding: 10px;
    border-radius: 12px;
    color: black;
    background-color: rgb(209, 204, 204);
}

#neinbutton{
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
    color: black;
    background-color: white;
    font-size: 25px;
}

#neinbutton:hover {
    margin-left: 20px;
    padding: 10px;
    border-radius: 12px;
    color: black;
    background-color: rgb(209, 204, 204);
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* New styles for modal header and body */
.modal-header h1 {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.modal-body p {
    color: white;
    font-size: 18px;
}





@media (max-width: 1500px) {

    .logo {
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;
        height: auto;
    }  

    }

@media (max-width: 1300px) {

    .logo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: auto;
        }  
    
        }


/* Media Query für Bildschirmbreite ab 900px */
@media (max-width: 900px) {
    #game-container {
        grid-template-columns: repeat(4, 1fr); /* 4 Spalten */
        grid-template-rows: repeat(5, 1fr); /* 5 Reihen */
        width: 400px; /* Breite des Spielfelds anpassen */
    }

    .card {
        font-size: 20px; /* Kleinere Schriftgröße für die Karten */
    }

    .logo {
        position: absolute;
        top: 0;
        left: 8%;
        width: 113px;
        height: auto;
    }
    
    .katze {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 15%;
        height: auto;
    }
}

@media (max-width: 560px) {
    #game-container {
        grid-template-columns: repeat(4, 1fr); /* 4 Spalten */
        grid-template-rows: repeat(5, 1fr); /* 5 Reihen */
        width: 300px; /* Breite des Spielfelds anpassen */
    }

    .card {
        font-size: 12px; /* Kleinere Schriftgröße für die Karten */
    }

    .logo {
        position: absolute;
        top: 0;
        left: 8%;
        width: 108px;
        height: auto;
    }

    #timer {
        font-size: 16px;
    }

    #satz {
    font-size: 13px;
    padding-bottom: 20px;
    }

    #neinbutton {
    font-size: 13px;
    }

    #jabutton {
    font-size: 13px;
    }

    .modal-content {
        max-width: 200px;
        max-height: 100px;
        left: 50%;
    }
    
}

@media (max-width: 340px) {
    #game-container {
        grid-template-columns: repeat(4, 1fr); /* 4 Spalten */
        grid-template-rows: repeat(5, 1fr); /* 5 Reihen */
        width: 200px; /* Breite des Spielfelds anpassen */
    }

    .card {
        font-size: 8px; /* Kleinere Schriftgröße für die Karten */
    }

    .logo {
        position: absolute;
        top: 0;
        left: 8%;
        width: 108px;
        height: auto;
    }
    
    #timer {
        font-size: 16px;
    }

    .modal-content {
        max-width: 160px;
        max-height: 100px;
    }
}